* { margin: 0; padding: 0; box-sizing: border-box; 
} 
html,body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
}

#upper1 {
	border: 1px solid;
  padding: 30px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 200px;
  float: left;
  margin-right: 5px;
  margin-left: 8%;
  color: green;
  cursor: pointer;

}
#upper2 {
	border: 1px solid;
  padding: 30px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 200px;
  float: left;
  margin-left: 5px; 
  margin-right: 10px;
  color: green;
  cursor: pointer;
}
#upper3 {
	border: 1px solid;
  padding: 30px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 200px;
  float: left;
  margin-left: 5px; 
  margin-right: 10px;
  color: green;
  cursor: pointer;
}
#upper4 {
	border: 1px solid;
  padding: 30px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 200px;
  float: left;
  margin-left: 5px; 
  margin-right: 10px;
  color: green;
  cursor: pointer;

}
#lower1 {
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 30%;
  float: left;
  margin: 5px;

}
#lower2 {
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 30%;
  float: left;
  margin: 5px;

}

#lower3 {
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 30%;
  float: left;
  margin: 5px;

}
#lower4 {
	border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px green;
  width: 20%;
  height: 30%;
  float: left;
  margin: 5px;

}
#upper12 {
	color: green;
	border: 3px solid black;
  padding: 20px;
  box-shadow: 1px 1px 1px green;
  width: 20%;
  height: 30%;
  float: left;
  margin-left: 8%;
  margin-right: 5px;

  height: 200px;
}
#upper21 {
	color: green;
	border: 3px solid black;
  padding: 20px;
  box-shadow: 1px 1px 1px green;
  width: 20%;
  height: 30%;
  float: left;
  margin: 5px;
  height: 200px;
}
#upper31 {
	color: green;
	border: 3px solid black;
  padding: 20px;
  box-shadow: 1px 1px 1px green;
  width: 20%;
  height: 30%;
  float: left;
  margin: 5px;
  height: 200px;
}
#upper41 {

	color: green;
	border: 3px solid black;
  padding: 20px;
  box-shadow: 1px 1px 1px green;
  width: 20%;
  height: 200px;
  float: left;
  margin: 5px;
}

hr.hrrr {
  border: 2px solid green;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
#upper12:hover {
	border-color: green;
}
#upper1:hover{
	color: white;
	background-color: green;
	transform: scale(1.3);

}
hr.hrr {
  border: 2px solid green;
  border-radius: 5px;
  width: 100%;
}
#upper2:hover{
	color: white;
	background-color: green;
	transform: scale(1.3);
}
#upper3:hover{
	color: white;
	background-color: green;
	transform: scale(1.3);
}
#upper4:hover{
	color: white;
	background-color: green;
	transform: scale(1.3);

}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}
.button4 {border-radius: 12px;
margin-left: 45%;
margin-top: 5%;
}

#upperleft1 {
	border: 1px solid green;
  padding: 20px;
  box-shadow: 1px 1px 1px red;
  width: 50%;
  height: 200px;
  margin-left: 65%;
}
/* #{
	border: 1px solid green;
  padding: 20px;
  box-shadow: 1px 1px 1px red;
  width: 50%;
  height: 200px;
  margin-left: 10%;
} */
figure{
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}
#home {
	background: url(../img/1.jpg) no-repeat center center fixed;
	display: none;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
.button4:hover {
	background-color: red;
	color: white;
}
#upperleft {
	color: green;
	float: left;
	padding-left: 120px;
	
	align-items: center;
	text-align: center;


}
#upperright {
	color: green;
	float: right;
	padding-right: 15px;
	align-items: center;
	text-align: center;
	

}
i.fa {
	align-items: center;
}
.display-4 {
	color: red;
	font-style: bold;
}
.lead{
	color: green;
	font-style: italic, bold;
}
.img-fluid {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto; }
  .img-prod {
  	display: flex;
  }
  div.galleryy {
 

  border: 1px solid #ccc;
  float: left;
  width: 40%;
  height: 100%;
  margin: 15px;


  }
  .flexgal {
    display: flex;
  }
  .gallery {
 
  border: 1px solid #ccc;
  width: 20%;
  height: 100%;
  margin: 37px;
  padding: 10px;


}

.gallery:hover {
  border: 2px solid green;
}

.gallery img {
  width: 100%;
  height: 100%;

}

.desc {
  padding: 5px;
  text-align: center;
  color: green;
}
div.galleryy {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.galleryy:hover {
  border: 2px solid green;
}

div.galleryy img {
  width: 100%;
  height: auto;
}

div.desc1 {
  padding: 5px;
  text-align: center;
}
#subject {
	margin-left: 15px;
}
#h66 {
	text-align: center;
}
.col-25{
	text-align: center;
}
.button5 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button5:hover {
  background-color: #4CAF50;
  color: white;
}
.button3 {
  background-color: green; 
  color: white; 
  border-radius: 12px;
  margin-left: 5%;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}
.thing {
		background: linear-gradient(to right, rgba(255,0,0,0), #1A5204 ), url(../img/4.jpg);
		/* -webkit-background-size: cover; */
		text-align: center;
		height: 350px;
		color: white;
		padding: 5%; 
	}
	#fixed{
	width: 100%;
	height: 110px;
	background-color: #2B8A05;
	color: white;
	padding: 30px;
	margin-top: 15px;
}
.center-box {
  width: 90%;
}
#upperleftt {
  text-align: center;
  align-items: center;
  
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

@media (max-width: 500px){
  .button4 {
    margin-left: 35%;
  }
  .button3 {
    margin-left: 35%;
  }
}
/***************************************************media query************************/
@media (max-width: 772px){
  #home{
    display: none;
  }

	.display-4 {
		font-size: 30px;
		text-align: center;
	}
	.lead {
		font-size: 20px;
		text-align: center;
	}
	#upperleft {
	float: none;
	padding: 10px;

}
#upperright {
	float: none;
	padding: 10px;
	margin-left: 2%;
  font-size: 10px;
}
#video {
	margin-left: 15%;
	width: 100%;
}
p {
	font-size: 20px;
}
#upper1 {
  box-shadow: 1px 3px 3px green;
  width: 40%;
  height: 200px;
  float: left;
  margin-right: 5px;
  margin-left: 4%;
  margin-bottom: 10%;
}
#upper2 {
  box-shadow: 1px 3px 3px green;
  width: 40%;
  height: 200px;
  float: right;
  margin-right: 5px;
  margin-left: 8%;
  margin-bottom: 10%;
}
#upper3 {
  box-shadow: 1px 3px 3px green;
  width: 40%;
  height: 200px;
  float: left;
  margin-right: 5px;
  margin-left: 4%;


}
#upper4 {
  box-shadow: 1px 3px 3px green;
  width: 40%;
  height: 200px;
  float: right;
  margin-right: 5px;
  margin-left: 8%;
  font-size: 20px;


}
.button4 {
font-size: 30px;
text-align: center;
margin-top:35px;
font-size: 15px;
 
}
.thing {
  overflow: scroll;
}
div.gallery {
	width: 100%;
	height: auto;
	margin: 15px;
}
.flexgal {
    flex-direction: column;
  }
  #upperleft1 {
    text-align: center;
    color: green;

  }
table {
	text-align: center;
	width: 100%;
}
.button3 {
	border-radius: 12px;
margin-left: 15%;
margin-top: 5%;

}
h1 {
	text-align: center;
  font-size: 30px;
}
#map {
	margin-left: 20%;
}
#fixed {
	height: 100px;
}

}
/***************************************************************************************/
@media (min-width: 773px) and (max-width: 1023px) {
	div.gallery {
	width: auto;
	height: auto;
	float: none;
}
table {
	text-align: center;
	width: 100%;
	margin-left: 20%;
}
#map {
	margin-left: 20%;
}
h1 {
	text-align: center;
}
.col-25 {
	margin-left: 10%;
}
textarea {
	width: 100%;
}
#video {
	margin-left: 20%;
}
.button4 {
margin-left: 40%;
}

#upperright {
	margin-right: 15%;
}
.container {
	text-align: center;
	align-items: center;
	padding: 10%;
	margin-left: 10%;
}
  .button3 {
    margin-left: 15%;
  }
    .container {
      text-align: center;
    }
    }
	




