* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  /*//////////////////////////////////////////////////////////////////
  [ Responsive ]*/ 
  
  @media (max-width: 992px) {
	.alert-validate::before {
	  visibility: visible;
	  opacity: 1;
	}
  }
  @media (max-width: 576px) {
	.wrap-login100 {
	  padding-top: 20px
	}
  }
  body{
	  font-family: Tahoma,Geneva,sans-serif;
	  color: #fff;
	  height: 100%;
	  background: url(../img/bg3.jpg);
	  position: sticky;
	  background-size: cover;
	  min-height: 400px;
  }
  .signin{
	  background: rgba(0,0,0,0.5);
	  padding: 40px;
	  width: 340px;
	  opacity: 2;
	  margin: auto;
	  margin-top: 60px;
	  height: 540px;
	  margin-left: auto;
	  position: sticky;
	  min-height: 40px;
  }
  form{
	  width: 240px;
	  text-align: center;
  }
  input
  {
	   width: 240px;
	  text-align: center;
	  background: transparent;
	  border: none;
	  border-bottom: 1px solid #fff;
	  font-family:'Play',sans-serif;
	  font-size: 16px;
	  font-weight: 200px;
	  padding: 10px 0;
	  transition: border 0.5s;
	  outline: #fff;
	  color:#fff;
	  min-height: 40px;
  }
  input[type=checkbox]
  {
	  display: inline-block;
	  width: auto;
  }
  
  input[type=button]
  {
	  border: none;
	  width: 190px;
	  background: white;
	  color: #000;
	  font-size: 16px;
	  line-height: 25px;
	  padding: 10px 0;
	  border-radius: 15px;
	  cursor: pointer;
  }
  input[type=button]:hover{
	  color: #fff;
	  background-color: black;
  }
  h2{
	  color: white;
  }
  a{
	  color: yellow;
	  text-decoration: blink;
  }
  a:hover{
	  color: skyblue;
  }
  .container{
	  display: flex;
	  flex-direction: row;
	  width: 100%;
  }
  ::placeholder{
	  color: aliceblue;
	  opacity: 0.8;
  }
  