<html>
    <head>
        <title>
            enter OTP
        </title>
    </head>
    <body>
        <form action="/matchOTP" method="POST">
        <input type="number" name="otp" placeholder="Enter you 4digit otp here"></input><br>
        <input type="submit" value="Proceed to change password"></input>
        </form>

    </body>
</html>