<html>
    <head>
        <title>
            enter OTP
        </title>
    </head>
    <body>
        <form action="/updatePass" method="POST">
        <input type="text" name="newPass" placeholder="Enter new password"></input><br>
        <input type="text" name="confirmNewPass" placeholder="Confirm password"></input><br>
        <input type="submit" value="Update Password"></input>
        </form>

    </body>
</html>