<!DOCTYPE html>
<html>

<head>
	<title>forgot</title>
	<link href="https://fonts.googleapis.com/css?family=play" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		@media (max-width: 992px) {
			.alert-validate::before {
				visibility: visible;
				opacity: 1;
			}
		}

		@media (max-width: 576px) {
			.wrap-login100 {
				padding-top: 20px
			}
		}

		body {
			font-family: Tahoma, Geneva, sans-serif;
			color: #fff;
			height: 100%;
			background: url('/img/bg3.jpg');
			position: sticky;
			background-size: cover;
			min-height: 400px;
		}

		form {
			width: 240px;
			text-align: center;
		}

		.forgot {
			background: rgba(0, 0, 0, 0.5);
			padding: 40px;
			width: 340px;
			opacity: 2;
			margin: auto;
			margin-top: 60px;
			height: 440px;
			margin-left: auto;
			position: sticky;
			min-height: 40px;
		}

		input {
			width: 240px;
			text-align: center;
			background: transparent;
			border: none;
			border-bottom: 1px solid #fff;
			font-family: 'Play', sans-serif;
			font-size: 16px;
			font-weight: 200px;
			padding: 10px 0;
			transition: border 0.5s;
			outline: #fff;
			color: #fff;
		}

		input[type=button] {
			border: none;
			width: 190px;
			background: white;
			color: #000;
			font-size: 16px;
			line-height: 25px;
			padding: 10px 0;
			border-radius: 15px;
			cursor: pointer;
		}

		input[type=button]:hover {
			color: #fff;
			background-color: black;
		}

		h2 {
			color: #000;
		}

		::placeholder {
			color: aliceblue;
			opacity: 0.8;
		}

		a {
			text-decoration: none;
			color: yellow;
		}

		a:hover {
			color: orange;
		}
	</style>
</head>

<body>
	<center>
		<div class="forgot">
			<form><br><br>
				<h2 align="center" style="color: #fff">Forgot Password</h2>
				<input type="password" name="opass" placeholder="Old Password"><br><br>
				<input type="email" placeholder="New Password" required="required"><br><br>
				<input type="password" name="cpass" placeholder="Confirm Password"><br><br><br><br>
				<input type="button" name="" value="Sign up" onclick="myfunction()"><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
					href="login">Back to Home</a>
			</form>
		</div>
	</center>
</body>

</html>