<html>
    <head>
        <title>
            send OTP
        </title>
    </head>
    <body>
        <form action="/sendOTP" method="POST">
        <input type="email" placeholder="Enter you email"></input>
        <input type="submit" value="Get verification mail"></input>
        </form>

    </body>
</html>