<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Taxation</title>
    <link rel="stylesheet" href="css/body.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body class="d-flex flex-column h-100" onload="myFunction()">
<div id="loading"></div>

{{>header}}
<!-- Begin page content -->
<main role="main">
	

    <div class="wrapper-content">
	<h1>Welcome to Taxation</h1>
	<p>You can overcome all your tax problems</p>
	<p>Just call us</p>
	<button class="call">Call us</a></button>
</div>
<div>
	<marquee><a href="callto:55555156" style="text-decoration: none"><h3 style="color: white">Book Appointment With Tax & Compliance Expert</h3></a></marquee>
</div>




	<div class="container-fluid padding">
      <div class="row welcome text-center">
         <div class="col-12">
                    <h1 class="display-4">Why choose Us?</h1>
         </div>
         <div class="col-12">
            <p class="lead">How we serve you the best</p>
         </div>
      </div>
   </div>
   <br>
   <br>
   <br>


   <div class="container-fluid padding">
      <div class="row padding">
         <div class="col-lg-6">
            <div id="upperleft">
            <i style="font-size:60px" class="fa">&#xf1ad;</i>
         
            <p ><b>30+ Offices in India.</b></p>
            <br>
            <br>
            <i style="font-size:60px" class="fa">&#xf017;</i>
            <p><b>Save your time.</b></p>
         </div>
         <div id="upperright">
               
               <i style="font-size:60px" class="fa">&#xf274;</i>
               <p><b>10+ Years Experience.</b></p>
               <br>
               <br>																	<i style="font-size:60px" class="fa">&#8377;</i>
            <p><b>Cash Back Guarantee.</b></p>

            </div>
            
                                    
         </div>
         <div class="col-lg-6">
            <div id="video">
            <iframe width="70%" height="300px" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                                    
            </iframe>
         </div>
         </div>
      </div>
   </div>


   <div class="container-fluid padding">
      <div class="row welcome text-center">
         <div class="col-12">
            <div class="thing">
               <p>Iniesta Taxation Company, is a leading provider of affordable digital and download tax preparation solutions for individuals, business owners and tax professionals. Our mission is to empower people to navigate the complexities of tax and finance with ease and accuracy at a fair price. Get tips and solutions for making better decisions with your taxes and personal finances like tax slab and we can also help you to acknowledge you about tax free. We are also </p>
               <p>In the light of the fact that PAN Card has become an essential document, we started its operations to facilitate individuals in applying for PAN Card online. Our aims to make the process of applying for PAN Card smooth and easy by providing support throughout the process. The services rendered include processing of application forms for those who are applying for new PAN card, corrections and changes to their existing PAN and request for duplicate or replacement of lost or damaged PAN card.</p>
               
            </div>
         </div>
      </div>
   </div>

   <br>
   <br>



<div class="container-fluid padding">
<div class="row welcome text-center">

<div class="col-lg-12">
      <br>
      <br>
      </div>
   </div>
</div>

         <div class="container-fluid padding">
      <div class="row welcome text-center">
      
         <div class="col-lg-12">
      <br>
      <br>
         <div class="fixedl1">
            <h1 class="display-4">Online service marketplace</h1>
               <hr class="hrr">
               <br>
               <br>
               <div id="upper1">
                     <i style='font-size:50px' class='fas'>&#xf5da;</i>
                     <br>
                     <br>
                     <br>
                     <h6>Expert Profile</h6>
               </div>
               <div id="upper2">
                  <i style='font-size:50px' class='fas'>&#xf005;</i>
                  <br>
                     <br>
                     <br>
                     
                     <h6>FDI Compliance</h6>
               </div>
               <div id="upper3">
                     <i style='font-size:50px' class='fas'>&#xf058;</i>
                     <br>
                     <br>
                     <br>
                                                      <h6>Trademark Registration</h6>
               </div>
               <div id="upper4">
                     <i style='font-size:50px' class='fas'>&#xf023;</i>
                     <br>
                     <br>
                     <br>
                     
                     <h6>Security</h6>
               </div>

               
         </div>

      </div>
   </div>
</div>
<div id="more">
	<br>
	<br>
	<button class="button button5">Click for More</button>
</div>




   <div class="container-fluid padding">
      <div class="row welcome text-center">
         <div class="col-12">
            <h1 class="display-4">Our Services Gallery</h1>
         </div>
         <div class="col-12">
            <p class="lead">How we serve you the best</p>
         </div>
      </div>
   </div>
<!--********************************************************************************-->
<div class="container-fluid padding">
      <div class="row welcome text-center">
         <div class="col-12">
            <div class="flexgal">

 <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Tax Filling Expert</div>
         </div>

         <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Gst Registration & Filling</div>
         </div>


         <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Trademark Registration</div>
         </div>

         <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Book keeping & Outsourcing</div>
         </div>
      </div>
   </div>
</div>
</div>
<br>
<br>



<div class="container-fluid padding">
      <div class="row welcome text-center">
         <div class="col-12">
         <div class="flexgal">
 <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Statutory & Voluntary audits</div>
         </div>
      
         <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Company Formation & Registration</div>
         </div>


         <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">FDI Compliance</div>
         </div>

         <div class="gallery">
  <a target="_blank" href="img/4.jpg">
    <img src="img/4.jpg" alt="Picture" width="100%" height="200%">
        </a>
        <div class="desc">Company Annual Filing</div>
         </div>
      </div>
   </div>
</div>
</div>

<br>
<br>





      

<!--********************************************************************************-->
<!-- Faqs -->
<section>
   <div class="container">
      <h1 class="text-center display-4 mb-5">Frequently Asked Questions</h1>
      <div class="accordion">
         <div class="accordion-item" id="question1">
            <a class="accordion-link" href="">
               What is the website about?
            </a>
            <div class="answer">
               <p>
                  The site answers all the questions about an individual and their taxes. It has a tax calculator to calculate taxes for you.
               </p>
            </div>
         </div>

         <div class="accordion-item" id="question2">
            <a class="accordion-link" href="">
               How to calculate my tax?
            </a>
            <div class="answer">
               <p>
                  Insert all the details asked in the tax calculator. It considers all the information and gives the result. It's super easy and handy.
               </p>
            </div>
         </div>

         <div class="accordion-item" id="question3">
            <a class="accordion-link" href="">
               Getting Started on Taxation Iniesta.
            </a>
            <div class="answer">
               <p>
                  It's simple and user friendly. It guides you through with each step you take. Firstly, you can read about all the latest updates here and can do your individual work here.
               </p>
            </div>
         </div>

         <div class="accordion-item" id="question4">
            <a class="accordion-link" href="">
               Verifying your email.
            </a>
            <div class="answer">
               <p>
                  The sign-up page asks for your mail id, and connects the database with your id. It then redirects it to your Taxation account. If you face any troubles, you can contact us at the mail id or the phone number.
               </p>
            </div>
         </div>

         <div class="accordion-item" id="question5">
            <a class="accordion-link" href="">
               Can I pay my tax on this site?
            </a>
            <div class="answer">
               <p>
                  No. You can only calculate your tax on the website. 
               </p>
            </div>
         </div>
      </div>
   </div>
</section>

</main>

<!-- Footer -->
{{>footer}}

<!-- Chat Box -->
<button class="open-button btn btn-success rounded-circle" onclick="openForm()"><i class="far fa-comment-dots"></i></button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>






<script src="js/jquery-3.4.1.js"></script>
<script src="js/popper.js"></script>
<script src="js/chat.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<script>

	</script>

</body>
</html>
