<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" http-equiv="Content-Type" content="text/html">
	<meta name="google-signin-client_id" content="895883019505-vn912g4nrg5jk07d3q9mfu2fu24t3ie6.apps.googleusercontent.com">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

	<title>Login</title>
	<!---<link href="login.css" rel="stylesheet" type="text/css"/>--->
	<link href="https://fonts.googleapis.com/css?family=play" rel="stylesheet">
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/

		@media (max-width: 992px) {
			.alert-validate::before {
				visibility: visible;
				opacity: 1;
			}
		}

		@media (max-width: 576px) {
			.wrap-login100 {
				padding-top: 20px
			}
		}

		body {
			font-family: Tahoma, Geneva, sans-serif;
			color: #fff;
			height: 100%;
			background: url('/img/bg3.jpg');
			position: sticky;
			background-size: cover;
			min-height: 400px;
		}

		.signin {
			background: rgba(0, 0, 0, 0.5);
			padding: 40px;
			width: 340px;
			opacity: 2;
			margin: auto;
			margin-top: 60px;
			height: 540px;
			margin-left: auto;
			position: sticky;
			min-height: 40px;
		}

		form {
			width: 240px;
			text-align: center;
		}

		input {
			width: 240px;
			text-align: center;
			background: transparent;
			border: none;
			border-bottom: 1px solid #fff;
			font-family: 'Play', sans-serif;
			font-size: 16px;
			font-weight: 200px;
			padding: 10px 0;
			transition: border 0.5s;
			outline: #fff;
			color: #fff;
			min-height: 40px;
		}

		input[type=checkbox] {
			display: inline-block;
			width: auto;
		}

		input[type=submit] {
			border: none;
			width: 190px;
			background: white;
			color: #000;
			font-size: 16px;
			line-height: 25px;
			padding: 10px 0;
			border-radius: 15px;
			cursor: pointer;
		}

		input[type=submit]:hover {
			color: #fff;
			background-color: black;
		}

		h2 {
			color: white;
		}

		a {
			color: yellow;
			text-decoration: blink;
		}

		a:hover {
			color: skyblue;
		}

		.container {
			display: flex;
			flex-direction: row;
			width: 100%;
		}

		::placeholder {
			color: aliceblue;
			opacity: 0.8;
		}

		.btn1 {
			width: 100%;
			padding: 12px;
			border: none;
			border-radius: 4px;
			margin: 5px 0;
			opacity: 0.85;
			display: inline-block;
			font-size: 17px;
			line-height: 20px;
			text-decoration: none;
			background-color: #3B5998;
			color: white;
		}

		.btn2 {
			width: 100%;
			padding: 12px;
			border: none;
			border-radius: 4px;
			margin: 5px 0;
			opacity: 0.85;
			display: inline-block;
			font-size: 17px;
			line-height: 20px;
			text-decoration: none;
			background-color: #dd4b39;
			color: white;
		}

		.fa {
			font-size: 1.3em;
			font-weight: bold;
		}

		.btn1 a,
		i {
			color: white;
			text-decoration: blink;
		}

		.btn2 a,
		i {
			color: white;
			text-decoration: blink;
		}
	</style>
</head>

<body>

	<div class="signin">
		<form action="login" method="POST">
			<center>

				<h2 style="color:white">Login</h2><br>
				<button class="btn1"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i>
						Facebook</a></button>
				<button class="btn2"><a
						href="https://accounts.google.com/ServiceLogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i
							class="fa fa-google" id="google"></i> Google</a></button>
							<a href="/auth/google">Sign In with Google</a>
				<br><br>
				<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
				<br><br>
				{{# if hasErrors}}
				<div class="row">
					{{# each messages }}
					<center>
						<p
							style="color: maroon; border-color:maroon;border-radius:4px;width:100%;background-color:rgb(250, 161, 161);padding:10px">
							{{this}} </p>
					</center>
					{{/each}}

				</div>
				<br><br>
				{{/if}}

				<i class="fas fa-user" id="logo"></i><input type="email" name="email" placeholder="Email"
					required="required">
				<br><br>
				<i class="fas fa-lock" id="logo"></i><input type="password" name="password" placeholder="Password"
					required="required">
				<br><br>
				<!--<input type="checkbox" name="remember me" checked="checked">&nbsp;Remember Me
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>-->
				<input type="submit" value="Sign in"><br></a><br>
				<div id="container">
					<!--<a href="#" style="margin-right: 0px; font-size: 13px; font-family: Tahoma,Geneva,sans-serif;">Reset Password</a>&nbsp;&nbsp;--->
					<a href="forgetPassOne" style="margin-right: 0px; font-size: 13px; 
						font-family: Tahoma,Geneva,sans-serif;">Forgot Password</a>
					Don't have account?<a href="signup">&nbsp;Sign Up</a>
				</div>

			</center>
		</form>
	</div>
	<script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>
</body>

</html>