.navbar{
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: large;
}
.navbar-brand{
    height: 70px;
    line-height: 65px;
}

main{
    padding: 100px 15px 0;
  }
body{
  background-color: rgb(255, 255, 255);
}
footer  a {
    color: rgb(255, 255, 255);   
  }  
ul{
    list-style: none;
  }

.location li .fa{
  color: rgb(83, 209, 58);
}
footer >div{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/footer.jpg);
}
footer{
    background-color: rgba(0, 0, 0, 0.904);
}

footer .social>li>a {
  color: rgb(83, 209, 58);
  text-align: center;
  background-color:rgb(255, 255, 255);
  width: 36px;
  height: 36px;
  margin-right: 10px;
  line-height: 36px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
}
footer a{
  color: #a1a1a1;
  font-weight: 400;
}
footer a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .social>li>a:hover {
  background-color: rgb(83, 209, 58);
  color: rgb(255, 255, 255);
}
footer h3{
  margin-bottom: 30px;
}
footer h3:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: #80b84d;
  margin-top: 12px;
}
@media(max-width: 767px){
.border-right {
    border-right: none!important;
}
}

/* Chat Box */
.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: large;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(236, 236, 236);
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* FAQS */

section .container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item{
  background-color: #283042;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: .5rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

a.accordion-link{
  font-size: normal;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .5rem;
  
}

.accordion-link i{
  color: #e7d5ff;
}


.answer{
  position: relative;
  background-color: #212838;
  /* transition: max-height 650ms; */
}

.answer::before{
  content: "";
  position: absolute;
  width: .6rem;
  height: 100%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p{
  color: rgba(255,255,255,.6);
  font-size: 16px;
  font-weight: lighter;
  padding: 10px;
  text-align: left;
  padding-left: 12px;
}

.accordion-item:target .answer{
  max-height: 50px;
}

